.vscode/
data/
models/__pycache__/
reports/
backup/
results/
tests/
test/
runs/
src/optimization/__pycache__/
src/evaluation/__pycache__/
src/ingestion/download/__pycache__/
src/ingestion/preprocess/__pycache__/
src/data_handling/__pycache__/
src/data_handling/features/__pycache__/
src/data_handling/utils/__pycache__
src/models/__pycache__
models/__pycache__/
 __pycache__/
 *.pyc

src/spatiotemporal_builder/.github

src/__pycache__/globals.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-38.pyc
src/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/near_stations.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/goes16_utils.cpython-310.pyc
nohup.out
src/__pycache__/
legacy/src/__pycache__/
legacy/src/train/__pycache__/
src/train/__pycache__/
src/utils/__pycache__/
src/goes16/__pycache__/
tests/__pycache__/
*.out
*.gif
#*.png
*.nc
*.parquet
*.pkl
src/spatiotemporal_builder/__pycache__/__init__.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/AlertarioCoords.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/AlertarioKeys.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/AlertarioParser.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/AlertarioSquare.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/ERA5Square.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/get_neighbors.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/INMETCoords.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/INMETKeys.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/INMETParser.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/INMETSquare.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/Logger.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/main.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/settings.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/square.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebSirenesCoords.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebsirenesDataset.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebSirenesKeys.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebSirenesParser.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebSirenesSquare.cpython-310.pyc
src/spatiotemporal_builder/__pycache__/WebsirenesTarget.cpython-310.pyc
src/spatiotemporal_builder/features/2018_01_01_00_features.npy
src/spatiotemporal_builder/features/2018_01_01_01_features.npy
src/spatiotemporal_builder/features/2018_01_01_02_features.npy
src/spatiotemporal_builder/features/2018_01_01_03_features.npy
src/spatiotemporal_builder/features/2018_01_01_04_features.npy
src/spatiotemporal_builder/features/2018_01_01_05_features.npy
src/spatiotemporal_builder/features/2018_01_01_06_features.npy
src/spatiotemporal_builder/features/2018_01_01_07_features.npy
src/spatiotemporal_builder/features/2018_01_01_08_features.npy
src/spatiotemporal_builder/features/2018_01_01_09_features.npy
src/spatiotemporal_builder/features/2018_01_01_10_features.npy
anim/dF_dt_2024_01_13/animation.mp4
websirenes_spatiotemporal_log.log
notebooks/GPM/imerg_animation_2024_01_01.mp4
gpm_update_log.txt
nohup_gpm2021.log
gpm_update_log.txt
gpm_update_log.txt
notebooks/GPM/imerg_rio_animation.mp4
notebooks/GPM/imerg_rio_animation_2024_01_01.mp4
gpm_update_log.txt
anim/PN_GLM/animation.mp4
legacy/data