[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
joblib = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
pymannkendall = "*"
statsmodels = "*"
xarray = "*"
cdsapi = "*"
pyarrow = "*"
fastparquet = "*"
shapely = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
